.s-wrap {
    will-change: transform;
    animation: slider 20s infinite;
}

.slide-item {
    box-sizing: border-box;
    object-fit: scale-down;
    width: 90vw;
    float: left;
    position: relative;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-33.333%);
    }

    66% {
        transform: translateX(-66.666%);
    }

    100% {
        transform: translateX(0);
    }
}

/* body {
    margin: 0px;
    padding: 0px;
}

#slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

#slider .s-wrap {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
} */
