.textbox {
    border: 1px solid black;
    width: 95%;
    margin: auto;
}

table th {
    text-align: left;
}

h2 {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding-left: 5%;
    padding-right: 5%;
}
